@import url('../fonts/stylesheet.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(111, 125, 166);
  background: -moz-radial-gradient(
    circle,
    rgba(111, 125, 166, 1) 0%,
    rgba(82, 98, 145, 1) 23%,
    rgba(41, 60, 115, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(111, 125, 166, 1) 0%,
    rgba(82, 98, 145, 1) 23%,
    rgba(41, 60, 115, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(111, 125, 166, 1) 0%,
    rgba(82, 98, 145, 1) 23%,
    rgba(41, 60, 115, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6f7da6",endColorstr="#293c73",GradientType=1);
}

.form-img {
  height: 80px;
  display: block;
  margin: 0 auto;
  width: auto;
  margin-bottom: 2rem;
}

.form-container {
  display: block;
  margin: 0 auto;
  background-color: white;
  width: fit-content;
  padding: 2rem;
  border-radius: 4px;
  border: none;
  background-color: rgb(39, 50, 112);
  box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}

.form-group {
  margin-bottom: 2rem;
}

.form-field {
  height: 40px;
  margin-top: 8px;
  width: 100%;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.form-group label {
  font-family: 'montserrat';
  color: #fff;
  font-weight: 500;
}

.form-group-desktop {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.form-address-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.form-submit {
  grid-column-start: 2;
  height: 40px;
  border-radius: 4px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-family: 'arvo';
  background-color: #d9bf3d;
  color: #293c73;
}

.form-submit:hover {
  cursor: pointer;
  background-color: #f2d338;
  transition: all ease-in-out 350ms;
}

@media screen and (min-width: 900px) {
  body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 900px) {
  .form-container {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
  }

  .form-img {
    height: 45px;
    width: auto;
  }

  .form-group-desktop {
    display: flex;
    flex-direction: column;
  }

  .form-address-group {
    display: flex;
    flex-direction: column;
  }
}
