@import url('../fonts/stylesheet.css');
/*Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.triangle{
  width: 100%;
  height: 150px;
  margin-bottom: -1rem;
}
.triangle-white {
  background-color: #909ec1;
}

.triangle-white .triangle-path {
  fill: #fff;
}

.triangle-light {
  background-color: #596791;
}

.triangle-light .triangle-path {
  fill: #909ec1;
}

.triangle-blue {
  background-color: #3c4d7f;
}

.triangle-blue .triangle-path {
  fill: #596791;
}

.triangle-black{
  background-color: #293c73;
}

.triangle-black .triangle-path{
  fill: #3c4d7f;
}
/* End of global styles */

/* Navbar Styles */
.navbar {
  width: 100%;
  text-align: left;
  padding-left: 3rem;
  border-bottom: solid rgba(0, 0, 0, 0.2) 1px;
  background-color: #2b366f;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.nav-logo {
  width: auto;
  height: 56px;
  margin: 0;
}

/* Hero Styles */
.hero-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
}

.hero-title {
  font-family: 'arvo';
  color: #293c73;
  margin-bottom: 1rem;
}

@media screen and (max-width: 900px) {
  .navbar {
    padding-left: 0;
    text-align: center;
  }

  .hero-title:first-of-type {
    font-size: 3em;
  }

  .hero-title:last-of-type {
    font-size: 2.7em;
  }

  .login-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 2rem;
  }

  .login-input {
    font-family: 'montserrat';
    outline: none;
    height: 2rem;
    border-radius: 2px;
    border: solid rgba(0, 0, 0, 0.2) 1px;
    width: 90%;
    margin-bottom: 2rem;
    margin: 1rem auto;
  }

  .login-label {
    margin-left: calc(1rem + 2px);
    font-family: 'montserrat';
    font-weight: 500;
    color: #6f7da6;
  }

  .login-submit {
    height: 2rem;
    width: 60%;
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 4px;
    background-color: #293c73;
    color: #f2f2f2;
    font-family: 'montserrat';
    font-weight: 600;
    border: none;
  }

  .login-submit:hover {
    background-color: #f2d338;
    color: #293c73;
    transition: all ease-in 350ms;
    -webkit-transition: all ease-in 350ms;
    cursor: pointer;
  }

  .register-text {
    width: 100%;
    text-align: center;
    font-family: 'montserrat';
    margin-top: 2rem;
  }

  .register-link {
    color: #6f7da6;
    text-decoration: none;
  }

  .register-link:hover {
    transition: all ease-in 350ms;
    -webkit-transition: all ease-in 350ms;
    color: #d9bf3d;
  }

  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .hero-image {
    width: 80vw;
    height: auto;
  }

  .hero-image-container {
    margin-top: 3rem;
  }

  .applications {
    background-color: #909ec1;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .applications-heading {
    color: #0e101a;
    font-family: 'arvo';
    width: 100%;
    text-align: center;
    font-size: 3.5em;
    padding-top: 4rem;
    padding-bottom: 2rem;
  }

  .application-title {
    font-size: 1.5em;
    color: #293c73;
  }

  .application-description {
    margin-top: 1rem;
    font-size: 1em;
  }

  .application-item {
    width: 80%;
    background-color: #f2f2f2;
    padding: 1rem;
    border-radius: 8px;
    margin: 0 auto;
    border: none;
    box-shadow: 4px 4px 4px #989898;
    margin-bottom: 2rem;
    font-family: 'montserrat';
  }

  .application-list {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
  }

  .applications-item-heading{
    font-size: 2.5em;
    font-family: 'arvo';
    text-align: center;
    color: #0e101a;
    margin-bottom: 3rem;
  }

  .applications-item-heading:last-of-type{
    margin-top: 3rem;
  }

  .faq {
    background-color: #596791;
    padding-top: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 3rem;
    justify-content: center;
  }

  .faq-heading {
    font-family: 'arvo';
    font-size: 4em;
    color: #f2d338;
  }

  .faq-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
  }

  .faq-item {
    font-family: 'montserrat';
    margin-bottom: 2rem;
  }

  .faq-item:last-of-type {
    margin-bottom: none;
  }

  .faq-question {
    outline: none;
    border: none;
    color: #f2f2f2;
  }

  .faq-question:hover {
    color: #f2d338;
    cursor: pointer;
    transition: all ease-in 350ms;
    -webkit-transition: all ease-in 350ms;
  }

  .faq-answer {
    color: #f2d338;
    margin-top: 1rem;
  }

  .contact{
    background-color: #3c4d7f;
    padding-top: 2rem;
    padding-left: 10%;
    padding-bottom: 2rem;
    padding-right: 10%;
  }

  .contact-info-title{
    width: 100%;
    text-align: left;
    margin-bottom: 2rem;
    font-family: 'arvo';
    color: #d9bf3d;
    margin-top: 2rem;
    font-size: 3em;
  }

  .contact-title{
    color: #d9bf3d;
    font-family: 'arvo';
    font-size: 3em;
  }

  .contact-container{
    display: flex;
    flex-direction: column;
  }

  .contact-form-container{
    width: 100%;
  }

  .contact-form{
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-direction: column;
  }

  .contact-label{
    color: white;
    font-family: 'montserrat';
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .contact-field{
    height: 40px;
    width: 100%;
  }

  .contact-details-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    justify-content: center;
  }

  .contact-detail-item{
    background-color: white;
    border-radius: 4px;
    width: 100%;
    box-shadow: 2px 2px 4px rgba(245,245,245,0.5);
    padding: 1rem;
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
  }

  .contact-mail{
    width: 50px;
  }

  .contact-detail-info{
    font-family: 'arvo';
    color: #293c73;
    word-break: break-all;
    margin-left: 2rem;
  }
  
  .cta {
    padding-top: 2rem;
    background-color: #293c73;
  }

  .cta-container {
    margin: 0 auto;
    width: 80%;
    padding-bottom: 2rem;
    display: flex;
  }

  .cta-heading {
    color: #d9bf3d;
    font-family: 'arvo';
    width: 100%;
    text-align: center;
  }

  .cta-description {
    margin-top: 1rem;
    font-family: 'montserrat';
    color: #f2f2f2;
    margin-bottom: 2rem;
  }

  .cta-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    justify-content: center;
  }

  .cta-button {
    padding: 8px;
    border: none;
    outline: none;
    border-radius: 3px;
    background-color: #d9bf3d;
    font-family: 'arvo';
    width: 50%;
    margin: 0 auto;
  }

  .cta-button:hover {
    cursor: pointer;
    transition: all ease-in 350ms;
    -webkit-transition: all ease-in 350ms;
    background-color: #f2d338;
  }

  .cta-button-desktop {
    display: none;
  }

  .footer-title {
    font-family: 'arvo';
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    color: #f2d338;
  }

  .footer-links {
    padding-top: 1rem;
    list-style: none;
    padding-bottom: 1rem;
    text-align: center;
  }

  .footer-link {
    text-decoration: none;
    color: white;
    font-family: 'montserrat';
  }

  .footer-link-item {
    margin-bottom: 1rem;
  }

  .footer-name,
  .footer-copyright {
    color: white;
    font-family: 'montserrat';
    width: 100%;
    text-align: center;
  }

  .footer-copyright {
    margin-top: 0.5rem;
  }

  .footer {
    z-index: -1;
    width: 100%;
    display: grid;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #000;
    grid-template-columns: auto;
    grid-template-rows: 1fr auto 1fr;
  }
}

@media screen and (max-width: 360px) {
  .hero-title:first-of-type {
    font-size: 2.2em;
  }

  .hero-title:last-of-type {
    font-size: 1.9em;
  }

  .contact-info-title{
    font-size: 2em;
  }

  .contact-title{
    font-size: 2em;
  }

  .cta-heading {
    font-size: 1.9em;
  }
}

/* Desktop Styles */
@media screen and (min-width: 900px) {
  .hero {
    display: flex;
    height: calc(100vh - calc(56px + 2rem));
    align-items: center;
  }

  .hero-content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 3rem;
  }

  .hero-title-container {
    margin-bottom: 2rem;
  }

  .hero-image {
    height: 60vh;
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .hero-title {
    font-size: 4em;
  }

  .login-label {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 1rem;
    font-family: 'montserrat';
    color: #6f7da6;
  }

  .login-label:last-of-type {
    margin-top: 1rem;
  }
  .login-input {
    width: 50%;
    margin: 0 auto;
    border-radius: 4px;
    border: 1px rgba(0, 0, 0, 0.2) solid;
    padding: 8px;
  }
  .login-form {
    display: flex;
    flex-direction: column;
  }

  .login-submit {
    height: 2rem;
    width: 50%;
    margin: 0 auto;
    margin-top: 2rem;
    border-radius: 4px;
    background-color: #293c73;
    color: #f2f2f2;
    font-family: 'montserrat';
    font-weight: 600;
    border: none;
  }

  .login-submit:hover {
    background-color: #f2d338;
    color: #293c73;
    transition: all ease-in 350ms;
    -webkit-transition: all ease-in 350ms;
    cursor: pointer;
  }

  .register-text {
    margin: 0 auto;
    font-family: 'montserrat';
    margin-top: 2rem;
  }

  .register-link {
    color: #6f7da6;
    text-decoration: none;
  }

  .register-link:hover {
    transition: all ease-in 350ms;
    -webkit-transition: all ease-in 350ms;
    color: #d9bf3d;
  }

  .triangle {
    height: 150px;
    width: 100%;
    margin-bottom: -1rem;
  }

  .applications {
    background-color: #909ec1;
  }

  .applications-heading {
    color: #0e101a;
    font-family: 'arvo';
    width: 100%;
    text-align: center;
    font-size: 3.5em;
    padding-top: 4rem;
    padding-bottom: 2rem;
  }

  .application-title {
    font-size: 2em;
    color: #293c73;
  }

  .application-description {
    margin-top: 1rem;
    font-size: 1em;
  }

  .application-item {
    width: 80%;
    background-color: #f2f2f2;
    padding: 1rem;
    justify-self: center;
    border-radius: 8px;
    border: none;
    box-shadow: 4px 4px 4px #989898;
    margin-bottom: 2rem;
    font-family: 'montserrat';
  }

  .application-row{
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
  .application-list {
    display: grid;
    grid-template-rows: auto 1fr auto 1fr;
    align-content: center;
    margin-top: 4rem;
    padding-bottom: 4rem;
    justify-content: center;
  }

  .applications-item-heading{
    font-size: 2.5em;
    font-family: 'arvo';
    text-align: center;
    color: #0e101a;
    margin-bottom: 3rem;
  }

  .applications-item-heading:last-of-type{
    margin-top: 3rem;
  }

  .faq {
    background-color: #596791;
    padding-top: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 3rem;
    justify-content: center;
  }

  .faq-heading {
    font-family: 'arvo';
    font-size: 4em;
    color: #f2d338;
  }

  .faq-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
  }

  .faq-item {
    font-family: 'montserrat';
    margin-bottom: 2rem;
  }

  .faq-item:last-of-type {
    margin-bottom: none;
  }

  .faq-question {
    outline: none;
    border: none;
    color: #f2f2f2;
  }

  .faq-question:hover {
    color: #f2d338;
    cursor: pointer;
    transition: all ease-in 350ms;
    -webkit-transition: all ease-in 350ms;
  }

  .faq-answer {
    color: #f2d338;
    margin-top: 1rem;
  }

  .contact{
    background-color: #3c4d7f;
    padding-top: 2rem;
    padding-left: 10%;
    padding-bottom: 2rem;
    padding-right: 10%;
  }

  .contact-info-title{
    width: 70%;
    text-align: left;
    margin-bottom: 2rem;
    font-family: 'arvo';
    color: #d9bf3d;
    font-size: 2em;
  }

  .contact-title{
    color: #d9bf3d;
    font-family: 'arvo';
    font-size: 3em;
  }

  .contact-container{
    display: flex;
  }

  .contact-form-container{
    width: 50%;
  }

  .contact-form{
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-direction: column;
  }

  .contact-label{
    color: white;
    font-family: 'montserrat';
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .contact-field{
    height: 40px;
    width: 100%;
  }

  .contact-details-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
    justify-content: center;
  }

  .contact-detail-item{
    background-color: white;
    border-radius: 4px;
    width: 70%;
    box-shadow: 2px 2px 4px rgba(245,245,245,0.5);
    padding: 1rem;
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
  }

  .contact-mail{
    width: 50px;
  }

  .contact-detail-info{
    font-family: 'arvo';
    color: #293c73;
    word-break: break-all;
    margin-left: 2rem;
  }

  .cta {
    padding-top: 2rem;
    background-color: #293c73;
  }

  .cta-container {
    margin: 0 auto;
    width: 80%;
    padding-bottom: 2rem;
    display: flex;
  }

  .cta-heading {
    color: #d9bf3d;
    font-family: 'arvo';
    width: 100%;
    font-size: 2em;
  }

  .cta-description {
    margin-top: 1rem;
    font-family: 'montserrat';
    color: #f2f2f2;
    margin-bottom: 2rem;
  }

  .cta-text-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-right: 10%;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
  }

  .cta-button {
    display: none;
  }
  .cta-button-desktop {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: none;
    outline: none;
    font-size: 1.15em;
    border-radius: 4px;
    background-color: #d9bf3d;
    font-family: 'arvo';
    width: 70%;
    margin: 0 auto;
  }

  .cta-button-desktop:hover {
    cursor: pointer;
    transition: all ease-in 350ms;
    -webkit-transition: all ease-in 350ms;
    background-color: #ffd70d;
  }

  .cta-button-container {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-title {
    font-family: 'arvo';
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    color: #f2d338;
  }

  .footer-links {
    padding-top: 1rem;
    list-style: none;
    padding-bottom: 1rem;
    text-align: center;
  }

  .footer-link {
    text-decoration: none;
    color: white;
    font-family: 'montserrat';
  }

  .footer-link-item {
    margin-bottom: 1rem;
  }

  .footer-name,
  .footer-copyright {
    color: white;
    font-family: 'montserrat';
    width: 100%;
    text-align: center;
  }

  .footer-copyright {
    margin-top: 0.5rem;
  }

  .footer {
    z-index: -1;
    width: 100%;
    display: grid;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #000;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
